@page "/"
@model Petean_David_Lab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        @if (Model.BookD.Books != null && Model.BookD.Books.Any())
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookD.Books.First().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookD.Books.First().Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookD.Books.First().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookD.Books.First().PublishingDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookD.Books.First().Publisher.PublisherName)
                </th>
                <th>
                    @Html.DisplayName("Categories")
                </th>
                <th></th>
            </tr>
        }
    </thead>

    <tbody>
        @foreach (var item in Model.BookD.Books)
        {
            string selectedRow = "";
            if (item.ID == Model.BookID)
            {
                selectedRow = "table-success";
            }
            
            <tr class="@selectedRow">
                <td>
                    <a asp-page="./Index" asp-route-id="@item.ID">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @(item.Author?.FirstName) @(item.Author?.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublishingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher.PublisherName)
                </td>
                
                <td>
                    @{
                        if (item.BookCategories != null)
                        {
                            foreach (var category in item.BookCategories)
                            {
                                <a asp-page="./Index" asp-route-id="@item.ID" asp-route-categoryID="@category.CategoryID">
                                    @category.Category.CategoryName
                                </a> @: &nbsp;
                            }
                        }
                    }
                </td>
                
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.BookD.Categories != null && Model.BookD.Categories.Any())
{
    <h3>Categories for Selected Book</h3>
    <ul>
        @foreach (var category in Model.BookD.Categories)
        {
            <li>@category.CategoryName</li>
        }
    </ul>
}